<section class="background-blue color-white">
    <div class="container">
        <div class="row">
            <div class="col"><h1 class="text-center mt-5">Contato</h1></div>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-4 text-center">
                    <h5>Email</h5>
                    <p>Tem alguma dúvida?<br>
                    compannydobrasil@companny.com</p>
                </div>
                <div class="col-4 text-center">
                    <h5>Telefone</h5>
                    <p>Estamos disponíveis das 8h às 18h <br>
                    (85) 3345-6767</p>
                </div>
                <div class="col-4 text-left">
                    <h5>Visite-nos</h5>
                    <address>
                        Companny do Brasil<br>
                        Av. Coronel Carvalho, 2960<br>
                        Barra do Ceará<br>
                        Fortaleza CE<br>
                        Brasil
                    </address>
                </div>
            </div>
        </div>
    </div>
</section>