<header class="background-blue section-height">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <nav class="navbar">
                    <!-- <a class="navbar-brand" href="#">{{ site.title }}</a> -->
                    <ul class="nav justify-content-end">
                        {% for item in site.data.items-menu %}
                        <li class="nav-item">
                            <a class="nav-link hvr-underline-reveal" href="{{ item.link }}">{{ item.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>  
    </div>
</header>