<section id="home" class="home home-height d-flex justify-content-center background-blue blue-gradient">
  <div class="container-fluid margin-10">
      <div class="row">
        <div class="col">
          <div class="title d-flex justify-content-center">
            <h1 class="title">{{ site.title }}</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="offset-3 col-6 d-flex justify-content-center">
          <p class="slogan-p text-center">
            Onde houver emoção lá estaremos
          </p>
        </div>
      </div>
      <div class="row buttons">
        <div class="col d-flex justify-content-center">
          <button type="button" class="call-to-action mt-5 btn btn-outline-warning btn-lg rounded-0 hvr-sweep-to-top">CONHEÇA-NOS</button>
        </div>
      </div>
</section>
