<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#ModeloEmail" aria-expanded="false" aria-controls="ModeloEmail">
    Clique para ver o modelo
  </button>
<div class="collapse" id="ModeloEmail">
  <div class="card card-body">
    <ul class="list-group mb-3">
      <li class="list-group-item">Destinatário: <strong>rh@compannydobrasil.com</strong></li>
      <li class="list-group-item">Assunto: <strong>Currículo </strong>- [Cargo]</li>
    </ul>
    <ul class="list-group mb-1">
      <li class="list-group-item pt-3">
          <p>
              Nome: [Escreva seu nome aqui]; <br>
              Telefone: (DDD) 99999-9999; <br>
              Email: [Digite um e-mail válido]; <br>
            </p>
            <p>
              Tenho interesse no cargo de [digite aqui o cargo de seu interesse]. Eu sou [esse pode ser um bom começo para a sua descrição].
            </p>
      </li>
    </ul>
    <small class="text-muted">
      *Não esqueça de remover os colchetes e enviar o seu currículo em anexo.
    </small>
  </div>
</div>