<section id="produtos-e-fornecedores" class="section-height text-center">
  <div class="container-fluid margin-5">
    <div class="row">
      <div class="col">
      <h1>Conheça nossos produtos</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2 class="text-muted">Veja aqui as principais categorias de produtos que oferecemos</h2>
      </div>
    </div>
    <div class="row margin-5">
      <div class="col">
        <div class="card border-0 d-flex align-items-center justify-content-center">
            <img class="card-img-top" src="../assets/img/icon-1.png">
          <div class="card-body">
            <div class="card-title">Off-Road</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0 d-flex align-items-center justify-content-center">
            <img class="card-img-top" src="../assets/img/icon-2.png">
          <div class="card-body">
            <div class="card-title">Mecânica em geral</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0 d-flex align-items-center justify-content-center">
            <img class="card-img-top" src="../assets/img/icon-3.png">
          <div class="card-body">
            <div class="card-title">Iluminação</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0 d-flex align-items-center justify-content-center">
            <img class="card-img-top" src="../assets/img/icon-5.png">
          <div class="card-body">
            <div class="card-title">Motor</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0 d-flex align-items-center justify-content-center">
            <img class="card-img-top" src="../assets/img/icon-7.png">
          <div class="card-body">
            <div class="card-title">Capacetes</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>