<section id="sobre" class="section-height">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-xs-12 col-lg-6">
        <div class="div-sobre d-flex align-items-center section-height">
          <div class="texting text-center">
            <h1>Sobre</h1>
            <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="div-valores d-flex align-items-center section-height">
          <div class="texting text-center">
            <div class="row">
              <div class="col">
                <h2 id="missao">Missão</h2>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="text-left">Oferecer soluções com tecnologia ao mercado varejista de motopeças proporcionando excelência no atendimento com eficácia para acionista, colaboradores e sociedade.</p>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col">
                <h2>Visão</h2>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col">
                <h2>Valores</h2>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>