<section class="section-height">
  <a class="anchor" id="sobre"> </a>
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-xs-12 col-lg-6">
        <div class="div-sobre d-flex align-items-center">
          <div class="texting text-center">
            <h1>Sobre</h1>
            <p class="text-left">Somos a Companny do Brasil, uma empresa criada em 2008 para satisfazer a demanda de reposição de peças e de acessórios para motocicletas. Atendemos todo o estado do Ceará, ofertando uma lista com mais de dez mil itens. Nossos principais parceiros comerciais estão entre os maiores fabricantes de moto peças do Brasil.</p>
            <p class="text-left">Com expressivo crescimento nos números desde 2010, passamos a importar diretamente da China as correntes KMC e TEC (produtos reconhecidos mundialmente), Kit de transmissão OSK, e Câmaras de Ar e Amortecedores DURE® com objetivo de sempre oferecer um produto de qualidade e preço justo. 
              A Company do Brasil mantém uma equipe altamente qualificada para atendimento rápido, prezando sempre pela excelência nas relações com os clientes. A empresa está instalada estrategicamente em uma área de 6.000 m².</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="div-valores d-flex align-items-center section-height">
          <div class="texting text-center">
            <div class="row">
              <div class="col">
                <h2 id="missao">Missão</h2>
              </div>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <p class="text-left">Oferecer soluções com tecnologia ao mercado varejista de motopeças proporcionando excelência no atendimento com eficácia para acionista, colaboradores e sociedade.</p>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <h2>Visão</h2>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="text-left">Ser uma referência na excelência de atendimento na distribuição de peças, acessórios e serviços para motocicletas e motociclistas no estado do Ceará.</p>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <h2>Valores</h2>
              </div>
            </div>
            <div class="row d-flex">
              <div class=" col-8">
                <p>
                  <ul>
                    <li class="text-left"><i class="fas fa-check"></i>Confiança;</li>
                    <li class="text-left"><i class="fas fa-check"></i>Diversidade;</li>
                    <li class="text-left"><i class="fas fa-check"></i>Qualidade;</li>
                    <li class="text-left"><i class="fas fa-check"></i>Respeito a vida;</li>
                    <li class="text-left"><i class="fas fa-check"></i>Responsabilidade;</li>
                    <li class="text-left"><i class="fas fa-check"></i>Melhoria contínua dos produtos e serviços;</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>