@font-face {
  font-family: Lato-LI;
  src: 
  /* local('../fonts/BebasNeue.otf'), */
  url('../fonts/Lato-Italic.ttf');
  font-weight: normal;
}
@font-face {
  font-family: Bebas;
  src: 
  /* local('../fonts/BebasNeue.otf'), */
  url('../fonts/BebasNeue.otf');
  font-weight: normal;
}
@font-face {
  font-family: Lato;
  src:
  /* local('../fonts/Lato-Regular.ttf'), */
  url('../fonts/Lato-Regular.ttf');
  font-weight: normal; 
}
.background-blue {
  background: #073763;
}
.section-height {
  min-height: 60vh;
}
.col-nav {
  background-color: #f7f7f7;
}
.nav-link {
  color: #25496b;
  font-family: Lato;
  font-size: 1.3rem;
}
.hvr-underline-reveal:before {
  background-color: #fcb612;
}
.div-sobre {
  position: relative;
  width: 50%;
  height: 100vh;
  float: left;
  padding: 5rem;
  font-size: 1rem;
}
.div-valores {
  position: relative;
  width: 50%;
  height: 100vh;
  float: left;
  padding: 5rem;
  background: #25496b;
  color: white;
  font-size: 1rem;
}
section:before,
section:after {
    content: "";
    display: table;
} 
section:after {
  clear: both;
}
.color-white {
  color: #f7f7f7;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Bebas;
}
p {
  font-family: Lato;
}
.slogan-p {
  font-family: Font1;
}
.blue-gradient {
  background: rgb(7,55,99);
  background: linear-gradient(90deg, rgba(7,55,99,1) 0%, rgba(42,93,142,0.9612219887955182) 50%, rgba(7,55,99,0.9612219887955182) 100%);
}
/* Home Style */
.title {
  color: #f7f7f7;
  font-size: 6rem;
  letter-spacing: 0.5rem;
}
.slogan-p {
  color: #f7f7f7;
  font-size: 1.5rem;
  font-family: Lato-LI;
  text-shadow: 1px 1px black;
}
.call-to-action {
  
  background-color: #fcb612;
  color: #f7f7f7;
  font-family: Bebas;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
.call-to-action:hover{
  background-color: transparent;
  border: 2px solid #fcb612;
}
.hvr-sweep-to-top:before {
  background-color: transparent;
}
.home {
  background-image: url('../img/img4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}