@font-face {
  font-family: Lato-LI;
  src: 
  /* local('../fonts/BebasNeue.otf'), */
  url('../fonts/Lato-Italic.ttf');
  font-weight: normal;
}
@font-face {
  font-family: Bebas;
  src: 
  /* local('../fonts/BebasNeue.otf'), */
  url('../fonts/BebasNeue.otf');
  font-weight: normal;
}
@font-face {
  font-family: Lato;
  src:
  /* local('../fonts/Lato-Regular.ttf'), */
  url('../fonts/Lato-Regular.ttf');
  font-weight: normal; 
}
html {
  scroll-behavior: smooth;
}
.background-blue {
  background: #073763;
}

.menu-fixed {
  position: fixed;
  position: -webkit-fixed;
  width: 100%;
  top: 0px;
  z-index: 10;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, .5)
}
.col-nav {
  background-color: #f7f7f7;
}
.nav-link {
  color: #25496b !important;
  padding: 0.5rem 1rem;
  font-family: Lato;
  font-size: 1.1wrem;
}
.hvr-underline-reveal:before {
  background-color: #fcb612;
}
.section-height {
  min-height: 100vh;
  position: relative;
}
.div-sobre {
  height: 100%;
  padding: 3.5rem 1rem;
  font-size: 1rem;
  background-color: #fafafa;
}
.div-valores {
  height: 100%;
  padding: 3.5rem 1rem;
  background: #25496b;
  color: white;
  font-size: 1rem;
}
section:before,
section:after {
  content: "";
  display: table;
} 
section:after {
  clear: both;
}
.color-white {
  color: #f7f7f7;
}
.color-black {
  color: #272727;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Bebas;
}
p, label, input {
  font-family: Lato;
}
.slogan-p {
  font-family: Font1;
}
.blue-gradient {
  background: rgb(7,55,99);
  background: linear-gradient(90deg, rgba(7,55,99,1) 0%, rgba(42,93,142,0.9612219887955182) 50%, rgba(7,55,99,0.9612219887955182) 100%);
}
/* Home Style */
.title {
  color: #f7f7f7;
  font-size: 6rem;
  letter-spacing: 0.5rem;
}
.slogan-p {
  color: #f7f7f7;
  font-size: 1.5rem;
  font-family: Lato-LI;
  text-shadow: 1px 1px black;
}
.call-to-action {
  background-color: #fcb612;
  color: #f7f7f7;
  font-family: Bebas;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.hvr-sweep-to-top:before {
  background-color: transparent;
}
.home {
  background-image: url('../img/img42.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.fas, .far {
  margin-right: 2vh;
}
.trabalhe {
  min-height: 20vh;
  margin-top: 63px;
}
.form {
  min-height: 70vh;
}
.margin-10 {
  margin-top: 10%;
}
.margin-3 {
  margin-top: 3%;
}
.margin-5 {
  margin-top: 5%;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
.informacao {
  background-color: #25496b;
  padding: 0.5rem;
}
.no-border {
  border: 0;
  border-radius: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid rgb(206, 212, 218);
}
.title-sub-page {
  color: #f7f7f7;
  font-size: 3rem;
  letter-spacing: 0.5rem;
}
.card-img-top {
  width: 50px;
  height: 50px;
}
img {
  width: 100%
}
#carouselExampleControls {
  height: 200px;
}
address {
  height: 90%;
}

.anchor {
  position: absolute;
  left: 0px;
  top: -63px;
}

strong {
  color: #25496b;
}
.btn-link {
  color: #073763;
}


@media screen and (max-width: 769px) {
  .title {
    font-size: 4rem;
    letter-spacing: 0.3rem;
  }
  .slogan-p {
    font-size: 1.5rem;
  }
  .call-to-action {
    padding: .5rem 1rem;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }
  .trabalhe {
    margin-top: 56px;
  }

  .anchor {
    position: absolute;
    left: 0px;
    top: -56px;
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
